<?xml version="1.0" encoding="UTF-8"?><widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="edu.iupui.soic.virtualhumanapp" version="0.1.1">
    <name>Virtual Human App</name>
    <description>Mobile app for patient interactive systems</description>
    <author email="" href="http://soic.iupui.edu">Author Name &lt;a@b.com></author>
    <preference name="KeyboardShrinksView" value="true"/>
    <preference name="StatusBarOverlaysWebView" value="false"/>
    <preference name="StatusBarBackgroundColor" value="#000000"/>
    <preference name="iosPersistentFileLocation" value="Library"/>
    <preference name="AndroidPersistentFileLocation" value="Internal"/>
    <content src="plugins/org.chromium.bootstrap/chromeapp.html"/>
    <preference name="android-minSdkVersion" value="14"/>
    
    <platform name="android">
        <preference name="SplashScreen" value="screen"/>
        <preference name="SplashScreenDelay" value="5000"/>
        <splash density="nodpi" src="res/screen/android/splashscreen.9.png"/>
    </platform>
    
<access origin="*"/></widget>