/* 
    Created on : Dec 9, 2014, 4:10:50 PM
    Author     : Manika
*/

body{
    background: #567;
    font-family: 'Open Sans',sans-serif;
}

.toolbar {
    background-color: #8b9dc3;
}

#health {
    text-align: center;
    color: #fff
}

.button {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 32px;
    line-height: 32px;
    border-radius: 2px;
    font-size: 0.9em;
    background-color: #fff;
    color: #646464;
}

.button > paper-ripple {
    border-radius: 2px;
    overflow: hidden;
}

.button.green {
    background-color: #0f9d58;
    color: #fff;
}

.raised {
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.listItems{
    padding-left: 8px;
    padding-right: 8px;
}