body {
    font-family: sans-serif;
}

.toolbar {
    background-color: steelblue;
}

#container {
    overflow: auto;
}

.card {
    position: relative;
    height: 150px;
    width: 150px;
    font-size: 18px;
    margin: 8px;
    text-align:center;
    background-color: tomato;
    border-radius: 4px;
    cursor: default;
    //box-shadow: 5px 5px 2px #888888;
}

.buttonicon{
    height: 96px;
    width: 96px;
}

.view {
    font-size: 250px;
    background-color: tomato;
}
