/* 
    Created on : Dec 9, 2014, 4:10:50 PM
    Author     : Manika
*/

body{
    background:#567;
    font-family: 'Open Sans',sans-serif;
    color:#f0f0f0;
}

.toolbar {
    background-color: #8b9dc3;
}

#btnClose {
    padding: 16px;
    float: right;
}