
body{
    background:#567;
    font-family:'Open Sans',sans-serif;
    padding: 100px;
}
#comparegroups{
    width:300px;
    position: absolute;
    top:20%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

form{
    background:#f0f0f0;
    padding:6% 4%;
    text-align: center;
}
h1{
    background:#3399cc;
    padding:20px 0;
    font-size:140%;
    font-weight:300;
    text-align:center;
    color:#fff;
    margin-bottom:0;
}

html /deep / paper-dropdown-menu {
    box-sizing: border-box;
    width: 187px;
}

html /deep/ core-menu {
    box-sizing: border-box;
    width: 187px;
}

