@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

*{margin:0;padding:0;}

body{
    background:#567;
    font-family:'Open Sans',sans-serif;
}

#comparegroups{
    width:300px;
    position: absolute;
    top:20%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#comparegroups h1{
    background:#3399cc;
    padding:20px 0;
    font-size:100%;
    font-weight:300;
    text-align:center;
    color:#fff;
}

form{
    background:#f0f0f0;
    padding:6% 4%;
    text-align: center;
}

#footer{
    position: absolute;
    bottom: 1px;
    left: 48%;
    margin: auto;
}

html /deep/ paper-dropdown-menu {
    box-sizing: border-box;
    width: 187px;
}

html /deep/ core-menu {
    box-sizing: border-box;
    width: 187px;
}

paper-input-decorator /deep/ ::-webkit-input-placeholder {
    /* platform specific rules for placeholder text */
    color: green;
}
paper-input-decorator /deep/ ::-moz-placeholder {
    color: green;
}
paper-input-decorator /deep/ :-ms-input-placeholder {
    color: green;
}
