/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 9, 2014, 4:10:50 PM
    Author     : Manika
*/

body{
    background:#567;
    font-family: 'Open Sans',sans-serif;
    color:#f0f0f0;
}

*{margin:0;padding:0;}

#humanbody h1{
    background:#3399cc;
    padding:20px 0;
    font-size:140%;
    font-weight:300;
    text-align:center;
    color:#fff;
}