h1{
    text-align: center;

}
.centered{
    display: block;
    text-align: center;
}
paper-input{
    float: center;
    position:absolute;
    bottom: 20%;
    padding:5px;
}
.value{
    text-align:center;
}

